@import url(https://fonts.googleapis.com/css?family=Montserrat:400,800|Poppins&display=swap);

* {
  font-family: sans-serif;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
}

.rmv-st {
  list-style: none;
}

.mg-gui {
  margin-bottom: 6vw;
}

.svg {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg fill-opacity='0.5'%3E%3Ccircle fill='%23FFFFFF' cx='50' cy='0' r='50'/%3E%3Cg fill='%23f6fbf6' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%23edf7ed' cx='50' cy='100' r='50'/%3E%3Cg fill='%23e4f3e5' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%23dbefdc' cx='50' cy='200' r='50'/%3E%3Cg fill='%23d2ebd3' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%23c9e7ca' cx='50' cy='300' r='50'/%3E%3Cg fill='%23c0e4c1' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%23b7e0b8' cx='50' cy='400' r='50'/%3E%3Cg fill='%23aedcb0' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%23a5d8a7' cx='50' cy='500' r='50'/%3E%3Cg fill='%239cd49e' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%2393d095' cx='50' cy='600' r='50'/%3E%3Cg fill='%238acc8c' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%2381c883' cx='50' cy='700' r='50'/%3E%3Cg fill='%2378c47b' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%236fc072' cx='50' cy='800' r='50'/%3E%3Cg fill='%2366bc69' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%235cb860' cx='50' cy='900' r='50'/%3E%3Cg fill='%2353b457' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%234CAF50' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: contain;
}

#btn-filtros {
  margin: 10px;
  padding: 8px 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#filtros {
  margin: 20px;
}

.hidden,
.hide {
  display: none;
}

.white {
  color: #fff;
}

.font {
  font-style: italic;
}

h1,
h2 {
  text-align: center;
}

.input-container {
  display: flex;
  align-items: center;
  width: 100%; /* Defina a largura para 100% para que ocupe toda a largura do formulário */
  max-width: 400px; /* Defina uma largura máxima para evitar que o formulário fique muito largo em telas grandes */
  margin: 0 auto; /* Centralize o formulário na página */
  background-color: #f5f5f5; /* Adicione uma cor de fundo para destacar o formulário */
  border-radius: 5px; /* Adicione bordas arredondadas para um visual mais agradável */
}

#input {
  flex: 1;
  padding: 6px 12px; /* Aumente o espaçamento vertical para melhorar a aparência */
  border: none;
}

button {
  background-color: transparent; /* Torne o botão transparente para que a cor de fundo do container seja visível */
  border: none;
  cursor: pointer;
}

i {
  color: #888;
  font-size: 18px;
  padding: 8px;
}

#busca {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 20vw;
  /* margin-top: 20px; */
  margin-left: 100px;
  margin-right: 50px;
}

.results-container {
  max-width: 100vw;
  margin: 0px;
  padding: 0px;
  align-items: center;
  align-content: center;
  justify-items: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.result {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

.result h3 {
  margin: 0;
}

.result a {
  text-decoration: none;
  color: #0066c0;
}

.result p {
  margin: 0;
  color: #666;
}

.itens-container {
  text-align: center;
}

.btn {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
}

.btn:hover {
  background-color: #45a049;
}

.product {
  width: 36vw;
  height: 225px;
  margin-bottom: 2.5vw;
  display: flex;
  align-items: center;
  text-align: left;
  justify-items: left;
  margin-right: 0.3vw;
  padding: 10px;
  border-top: 1px solid #4caf50;
  border-bottom: 1px solid #4caf50;
  transition: 0.3s ease;
  cursor: pointer;
}

.product:hover {
  background-color: #4caf5085;
}

.product img {
  width: 10vw;
  margin-right: 1rem;
}

.product p {
  text-align: left;
  font-weight: bold;
  font-style: italic;
}

.baner {
  height: 43.5vw;
  width: 100%;
}

.background {
  background-color: black;
  color: #fff;
  gap: 20vw;
}

.pd-gui {
  padding: 1.5vw;
}

.pd-gui2 {
  padding: 1.6vw;
}

main {
  display: flex;
  flex: 1;
  margin-bottom: 2vw;
}

#baner {
  display: block;
}

.caixa-prod {
  display: block;
}

.content {
  display: none;
}

.content2 {
  display: flex;
  margin: 2vw 3.5vw;
  gap: 1.5vw;
}

.content3 {
  width: 80vw;
}

.sidebar {
  width: 14vw;
}

aside {
  width: 13.5vw;
  padding: 1px;
  display: grid;
}

.sidebar h2 {
  border-bottom: 1px solid #4caf50;
  border-top: 1px solid #4caf50;
  width: 100%;
  text-align: left;
  padding: 15px 1px;
  font-family: sans-serif;
}

.sidebar ul {
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding-left: 0;
}

.titulo {
  margin-top: 0;
  font-size: 1rem;
  margin-right: auto;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

input[type="checkbox"] {
  margin-right: 5px;
}

.item-menu {
  display: flex;
}

.produto {
  display: flex;
  overflow-x: auto;
  margin: 0vw 3vw;
  margin-bottom: 6vw;
}

.produto-item {
  width: 17vw;
  margin: 10px;
  padding: 10px;
  border: 1px solid #e0e0e0;
  text-align: center;
  margin-left: 1vw;
  transition: transform 0.3s ease-in-out;
}

.produto-item:hover {
  transform: scale(0.85);
  /* transform: scale(1.1); */
}

.produto-imagem {
  width: 250px;
  height: 250px;
  margin: 0 auto;
}

.produto-nome {
  margin-top: 10px;
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-style: italic;
  font-family: system-ui;
  font-weight: 600;
}

.produto-preco {
  margin-top: 5px;
  color: #888;
}

.tituloProd {
  margin-top: 1.5rem;
  font-size: 3rem;
  margin-right: auto;
  text-align: start;
  margin-left: 4vw;
  font-weight: 700;
}

.mg-top-03 {
  margin-top: 0.3vw;
}

.mg-right-1 {
  margin-right: 1vw;
}

.b-left-radius-1 {
  border-radius: 1vw 0vw 0vw 1vw;
}

.b-w-23 {
  border-width: 23vw;
}

.pd-left-2 {
  padding-left: 2vw;
}

.no-border {
  border-color: #00000000;
}

.no-outline {
  outline: none;
}

.mg-right-0 {
  margin-right: 0;
}

.b-right-radius-1 {
  border-radius: 0vw 1vw 1vw 0vw;
}

.no-border {
  border-color: #00000000;
}

.bg-whitee {
  background-color: #fff;
}

/* ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;; */

/* Estilizando a barra de rolagem */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

::-webkit-scrollbar-thumb:active {
  background-color: #333;
}

/* ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;; */

#scroll-span {
  display: inline-block;
  animation: scrollAnimation 2s infinite;
  font-size: 40px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: #000000;
  cursor: pointer;
}

@keyframes scrollAnimation {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(20px);
  }

  100% {
    transform: translateY(0);
  }
}

.bi {
  vertical-align: -0.125em;
  fill: currentColor;
}

.nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}
